matplotlib==3.4.2
MedPy==0.4.0
numpy==1.20.3
opencv-python==4.5.3.56
Pillow==8.3.1
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.7.0
Shapely==1.7.1
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
torch==1.9.0
torchvision==0.10.0
tqdm==4.61.2 
ninja==1.10.0.post3
git+https://github.com/facebookresearch/detectron2.git
pyyaml==5.4.1
# Please follow official detectron2, PyTorch installation
# instructions as an environement file does not account for your
# hardware and building a framework the recommended way
